h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: brown;
    text-align: center;
    font: bold 2em/3em Arial, Helvetica, sans-serif
}

h2 {
    color: brown;
    text-align: center;
    font: bold 1em/2em Arial, Helvetica, sans-serif
}

h3 {
    color: brown;
}

.myPic {
    float: left;
    padding-right: 2em;
}

body {
    background-color: burlywood;
    color: brown;
    font-size: 1em;
    font-weight: bold;
}

#header {
    color: brown;
    font-weight: bold;
}

#main {
    color: brown;
}

#favoriteTeam {
    color: midnightblue;
    font-weight: bold;
}

#footer {
    color: brown;
}

.lorem {
    text-align: center;
}

nav {
    background-color: brown;
    line-height: 3em;
    display: block;
}

nav li {
    display: inline;
    padding-right: 40px;
    list-style-type: none;
}

nav a:link {
    color: burlywood;
    text-decoration: none;
}

nav a:visited {
    color: burlywood;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: aqua;
    text-decoration: underline;
}

th {
    font-weight: bolder;
    padding-right: 75px;
    color: black;
    border: 1px solid black;
}

td {
    font-weight: bold;
    border: 1px solid black;
}